table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  
  input[type="text"], select {
    padding: 8px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  .filter-boxes {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left:90px;
    margin-bottom: 20px;
  }
  
  .filter-box {
    padding-left:5px;
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
    background-color:rgb(233, 233, 233);
    border-radius: 10px;
    padding:5px;
  }
  
  .filter-box:last-child {
    margin-right: 0;
  }
  
  .filter-text {
    font-weight: 200s;
    margin-right: 10px;
  }
  
  .select-wrapper {
    position: relative;
    width: 150px;
  }

  
  .filter-box select,
  .filter-box input {
    border: none;
    width:90%;
    font-size: 16px;
    font-weight: 200;
    outline: none;
  }
  
  .filter-box select option {
    background-color: #cccccc;
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
  }
  
  .filter-box input {
    flex: 1;
  }
  
  
  
  @media only screen and (max-width: 768px) {
    table {
      font-size: 14px;
    }
  }
